# Set your settings (backend, mailserver, apikeys, etc.) here 
MAILUSERNAME=yourusername
MAILHOST=yourmailhost
MAILPWD=yourpassword
MAILPORT=yourmailhostport
MAILFROM=noreply@localhost
CORSALLOWORIGIN=http://localhost:8100
PRODUCTION=true
APIKEYOPENWEATHER=yourapikey
APIKEYTWITTER=yourapikey
APISECRETTWITTER=yourapikey
APIKEYFIXER=yourapikey
APIKEYNEWS=yourapikey
APIKEYFACEBOOK=yourapikey