<ion-content padding class="main-bg">
  <div id="packery" class="grid">
    <div *ngFor="let setting of (settings | sort:{value: null});">
      <div [ngSwitch]="setting.tile" [hidden]="!setting.visible">
        <grid-google *ngSwitchCase="'googleapi'" [tile]="setting" (notify)="hideTile($event)"></grid-google>
        <grid-github *ngSwitchCase="'github'" [tile]="setting" (notify)="hideTile($event)"></grid-github>
        <grid-weather *ngSwitchCase="'openweather'" [tile]="setting" (notify)="hideTile($event)"></grid-weather>
        <grid-twitter *ngSwitchCase="'twitter'" [tile]="setting" (notify)="hideTile($event)"></grid-twitter>
        <grid-currency *ngSwitchCase="'fixer'" [tile]="setting" (notify)="hideTile($event)"></grid-currency>
        <grid-news *ngSwitchCase="'news'" [tile]="setting" (notify)="hideTile($event)"></grid-news>
        <grid-clock *ngSwitchCase="'clock'" [tile]="setting" (notify)="hideTile($event)"></grid-clock>
        <grid-wiewarm *ngSwitchCase="'wiewarm'" [tile]="setting" (notify)="hideTile($event)"></grid-wiewarm>
      </div>
    </div>
  </div>

  <ion-fab right top *ngIf="!error">
    <button ion-fab mini color="light" menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-fab>

  <ion-fab right bottom #addServiceFab *ngIf="!error">
    <button class="add-service" ion-fab mini color="light">
      <ion-icon name="add"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <span *ngFor="let setting of settings;">
        <button ion-fab (click)="showTile(setting.tile)" [ngSwitch]="setting.tile" *ngIf="!setting.visible">
          <ion-icon name="speedometer" *ngSwitchCase="'googleapi'"></ion-icon>
          <ion-icon name="logo-github" *ngSwitchCase="'github'"></ion-icon>
          <ion-icon name="partly-sunny" *ngSwitchCase="'openweather'"></ion-icon>
          <ion-icon name="logo-twitter" *ngSwitchCase="'twitter'"></ion-icon>
          <ion-icon name="logo-usd" *ngSwitchCase="'fixer'"></ion-icon>
          <ion-icon name="paper" *ngSwitchCase="'news'"></ion-icon>
          <ion-icon name="clock" *ngSwitchCase="'clock'"></ion-icon>¨
          <ion-icon name="sunny" *ngSwitchCase="'wiewarm'"></ion-icon>
          <ion-icon *ngSwitchDefault>Unknown Tile!</ion-icon>
        </button>
      </span>
    </ion-fab-list>
  </ion-fab>
</ion-content>
