<ion-card class="grid-item grid-item-github" [attr.data-id]="tile.id">
  <ion-card-header>
    <ion-icon name="logo-github" item-left></ion-icon> {{ 'tiles.github.header' | translate }}
  </ion-card-header>
  <button aria-label="close" class="grid-item-close" (click)="onClose()">
    <ion-icon name="close"></ion-icon>
  </button>
  <ion-card-content *ngIf="data">
    <ion-row>
      <ion-col width-2>
        <ion-icon name="bookmarks"></ion-icon> <span class="grid-item-value">{{ data.repository }}</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-10>
        <ion-icon name="person"></ion-icon> <span class="grid-item-value">{{ data.user }}</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-10>
        <ion-icon name="eye"></ion-icon> <span class="grid-item-value">{{ data.watchers }}</span>
      </ion-col>
      <ion-col width-10>
        <ion-icon name="star"></ion-icon> <span class="grid-item-value">{{ data.stars }}</span>
      </ion-col>
      <ion-col width-10>
        <ion-icon name="git-branch"></ion-icon> <span class="grid-item-value">{{ data.forks }}</span>
      </ion-col>
    </ion-row>
  </ion-card-content>
  <ion-card-content *ngIf="!data">{{'tiles.noContent' | translate}}</ion-card-content>
</ion-card>
