<ion-header>
  <ion-nav>
    <ion-title>Configure Tiles</ion-title>
  </ion-nav>
</ion-header>
<ion-content>
  <ion-item-group *ngFor="let tile of (tiles);">
    <div *ngIf="tile.name !== 'clock'">
      <ion-item-divider color="light">{{ tile.name }}</ion-item-divider>
      <ion-list>
        <ion-item>
          <ion-label>BaseUrl</ion-label>
          <ion-input type="text" placeholder="BaseUrl" [value]="tile.baseUrl"
            (input)="tile.baseUrl = $event.target.value"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>API Key</ion-label>
          <ion-input type="password" placeholder="API Key" [value]="tile.apikey"
            (input)="tile.apikey = $event.target.value"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>API Secret</ion-label>
          <ion-input type="password" placeholder="API Secret" [value]="tile.apisecret"
            (input)="tile.apisecret = $event.target.value"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Schema</ion-label>
          <ion-input type="text" placeholder="Schema" [value]="tile.schema" (input)="tile.schema = $event.target.value">
          </ion-input>
        </ion-item>
      </ion-list>
      <ion-button color="light" (click)="saveItem(tile)">Save</ion-button>
    </div>
  </ion-item-group>
  <section>
    <ion-button size="small" (click)="back();">Back</ion-button>
  </section>
</ion-content>
