.grid-item-google {
  height: 230px;
  width: 230px;
}

.grid-item-google-chart {
  display: block;
  margin-top: -10px;
}

.grid-item-google-content {
  padding-top: 0;

  strong {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.grid-item-google-tooltip {
  line-height: 1;
  text-align: center;

  div {
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
  }
}

ion-icon + span {
  margin-left: 15px;
}
