<ion-card class="grid-item grid-item-google" [attr.data-id]="tile.id">
  <ion-card-header>
    <ion-icon name="speedometer" item-left></ion-icon> Google {{'tiles.pagespeed.header' | translate}}
  </ion-card-header>
  <button aria-label="close" class="grid-item-close" (click)="onClose()">
    <ion-icon name="close"></ion-icon>
  </button>
  <div *ngIf="data">
    <highcharts-chart class="grid-item-google-chart" [Highcharts]="Highcharts" [options]="options"></highcharts-chart>
    <ion-card-content class="grid-item-google-content">
      <a href="{{'https://developers.google.com/speed/pagespeed/insights/?&url=' + data.finalUrl}}"><strong>Details</strong></a>
    </ion-card-content>
  </div>
  <div *ngIf="!data">
    <ion-card-content>
      {{'tiles.noContent' | translate}}
    </ion-card-content>
  </div>
</ion-card>
