.grid-item-google {
  height: 230px;
  width: 230px;
}

.grid-item-google-chart {
  display: block;
}

.grid-item-google-content {
  text-align: center;

  strong {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.grid-item-google-tooltip {
  line-height: 1;
  text-align: center;

  div {
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
  }
}

ion-icon + span {
  margin-left: 15px;
}

.card-content-md {
  font-size: 14px;
  padding-top: 0px;
}
