// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color:        #000;
$background-color:  #fff;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The 'primary' color is the only required color in the map.

$colors: (
  primary:    #7b23a7, //387ef5
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  favorite:   #69bb7b
);



$font-family-md-base: 'Ubuntu', 'Roboto', 'Roboto', sans-serif;
$font-family-ios-base: 'Ubuntu', -apple-system, 'Helvetica Neue', 'Roboto', sans-serif;
$font-family-wp-base: 'Ubuntu', 'Segoe UI', 'Noto Sans', sans-serif;

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

$ionicons-font-path: '../assets/fonts';
@import 'mixins';

@import 'packery';
@import 'forms';
