<div [class]="data ? 'grid-item grid-item-news' : 'grid-item grid-item-news nodata'" [attr.data-id]="tile.id">
  <button aria-label="close" class="grid-item-close" (click)="onClose()">
    <ion-icon name="close"></ion-icon>
  </button>
  <ion-content *ngIf="data && data.articles">
    <ion-card-header>
      <ion-icon name="newspaper-outline" item-left></ion-icon> {{ 'tiles.news.header' | translate:data }}
    </ion-card-header>
    <ion-card *ngFor="let news of data.articles" class="grid-item-news-text" [ngStyle]="{backgroundImage: 'url(' + news.image + ')'}">
      <a href="{{news.url}}" target="_blank" class="grid-item-news-title">{{ news.title }}</a>
      <div class="grid-item-news-date"><span>{{ news.publishedAt | date:'shortDate' }}</span></div>
    </ion-card>
  </ion-content>
  <ion-card-content *ngIf="!data">{{'tiles.noContent' | translate}}</ion-card-content>
</div>
