.grid-item-google {
  height: grid-unit(2);
  width: grid-unit(2);
}

.grid-item-google-chart {
  display: block;
  margin-top: -10px;
}

.grid-item-google-content {
  padding-top: 0;

  strong {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.grid-item-google-tooltip {
  line-height: 1;
  text-align: center;

  div {
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
  }
}
