<ion-header>
  <ion-nav>
    <ion-title>Configure Tile Settings</ion-title>
  </ion-nav>
</ion-header>
<ion-content>
  <ion-item-group *ngIf="tiles && tiles.length > 0">
    <ion-item-divider color="light">Unassigned Items</ion-item-divider>
    <ion-list>
      <ion-item>
        <select [(ngModel)]="selectedTile">
          <option [value]="tile.name" *ngFor="let tile of tiles">{{ tile.name }}</option>
        </select>
      </ion-item>
      <ion-item>
        <ion-button color="light" [disabled]="!selectedTile" (click)="addItem()">Add new</ion-button>
      </ion-item>
    </ion-list>
  </ion-item-group>
  <ion-item-group *ngFor="let setting of (settings);">
    <ion-item-divider color="light">{{ setting.tile }}</ion-item-divider>
    <ion-list>
      <ion-item>
        <ion-label>Position</ion-label>
        <ion-input type="number" placeholder="Position" [value]="setting.position" (input)="setting.position = $event.target.value"></ion-input>
      </ion-item>
      <ion-item *ngIf="setting.tile !== 'clock'">
        <ion-label>Querystring</ion-label>
        <ion-input placeholder="Querystring" [value]="setting.querystring" (input)="setting.querystring = $event.target.value"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Visible</ion-label>
        <ion-checkbox title="Visible" checked="{{ setting.visible }}" (ionChange)="setting.visible = $event.checked"></ion-checkbox>
      </ion-item>
    </ion-list>
    <ion-button color="light" (click)="saveItem(setting)">Save</ion-button>
    <ion-button color="light" (click)="deleteItem(setting)">Delete</ion-button>
  </ion-item-group>
  <section>
    <ion-button size="small" (click)="back();">Back</ion-button>
  </section>
</ion-content>
