/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "~@ionic/angular/css/display.css";
@import 'theme/variables';

body > app-root > ion-app {
  &::after,
  &::before {
    content: '';
    opacity: 0;
    transition: opacity 1s ease 1s;
  }
}

.body-loading  ion-app {
  @include loading-indicator;

  .add-service {
    display: none;
  }
}

ion-content {
  --background: url('/assets/imgs/bg-01.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

ion-card {
  background-color: #fff;
}

.grid-item-google-chart > .highcharts-container > svg {
  margin-top: -10px;
}
