<ion-content class="ion-padding login-bg">
  <div class="login-box ion-text-center">
    <ion-card max-width>
      <img class="login-logo" src="assets/imgs/logo.png" [attr.alt]="'login.title' | translate">
      <form #form="ngForm" (ngSubmit)="loginForm(form)" novalidate>
        <ion-list>
          <ion-item class="login-select-language">
            <ion-label translate>general.language</ion-label>
            <ion-select name="language" [(ngModel)]="languageService.currentLanguage" (ionChange)="changeLanguage()" okText="{{'general.ok' | translate}}" cancelText="{{'general.cancel' | translate}}">
              <ion-select-option value="de">Deutsch</ion-select-option>
              <ion-select-option value="en">English</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item class="login-box-input">
            <ion-label stacked [color]="formErrors.username ? 'danger': 'primary'">
              <span translate *ngIf="!formErrors.username">general.emailAddress</span>
              <span translate *ngIf="formErrors.username">login.mailerror</span>
            </ion-label>
            <ion-input id="email" clearInput="true" (ionBlur)="onEMailBlur(email)" [placeholder]="'general.emailExample' | translate" name="email" [(ngModel)]="user.username" #email="ngModel" type="email" spellcheck="false" autocapitalize="off" required></ion-input>
          </ion-item>

          <ion-item class="login-box-input">
            <ion-label stacked [color]="formErrors.password ? 'danger': 'primary'" translate>general.password</ion-label>
            <ion-input id="password" clearOnEdit="true" [placeholder]="'general.password' | translate" name="password" [(ngModel)]="user.password" type="password" required></ion-input>
          </ion-item>

          <ion-item class="login-box-login-failed" *ngIf="showError">
            <ion-label translate>login.failed</ion-label>
          </ion-item>
        </ion-list>
        <br><i class="icon ion-refreshing"></i>

        <ion-button type="submit" expand="block" [disabled]="!form.valid || isLoginIn">
          <span *ngIf="!isLoginIn"><ion-icon name="enter-outline"></ion-icon> {{'login.send' | translate}}</span>
          <ion-spinner *ngIf="isLoginIn"></ion-spinner>
        </ion-button>
      </form>
    </ion-card>

    <ion-button expand="full" fill="clear" (click)="showForgetPasswortPrompt()">{{'forgetPassword.button' | translate}}</ion-button>
    <ion-button expand="full" fill="clear" (click)="showSignUpPrompt()">{{'signup.button' | translate}}</ion-button>
  </div>

</ion-content>
