<ion-card class="grid-item grid-item-currency" [attr.data-id]="tile.id">
  <ion-card-header>
    <ion-icon name="usd" item-left></ion-icon> {{ 'tiles.currency.header' | translate }} 1 {{currency}}
  </ion-card-header>
  <button aria-label="close" class="grid-item-close" (click)="onClose()">
    <ion-icon name="close"></ion-icon>
  </button>
  <div *ngIf="data">
    <highcharts-chart [Highcharts]="Highcharts" [options]="options" class="grid-item-currency-chart" *ngIf="options"></highcharts-chart>
  </div>
  <div *ngIf="!data">{{'tiles.noContent' | translate}}</div>
</ion-card>
