.grid-item-weather {
  height: 230px;
  width: 230px;
}

.grid-item-weather-today-location {
  font-size: 30px;
  font-weight: 150;
  line-height: 1;
  text-align: center;
}

.grid-item-weather-today-temp {
  font-size: 30px;
  font-weight: 150;
  text-align: center;
}

.grid-item-weather-today-icon {
  height: auto;
  max-width: 100%;
  width: 100%;
}

